body {
    width: 300px;
}
home-grid {
    display:grid;
    grid-template-columns: 3fr 4fr 1fr;
    
}
header {
    grid-column: 1/4;
}
.city {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.middle {
    margin: -5px;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}
footer {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #fff;
    background-color: #002366;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-right: 10px;;
    column-rule: 4px double #d9dddc;
    text-align: center;
}
