@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&display=swap');


body {
    background-color: #539dca;
    font-family: "Open Sans", "Helvetica", arial;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: #1a775f;
}
#logo_link {
    padding-top: 5px;
}
.logo {
    width: 80px;
} 
nav a {
    color: #eff2f2;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    background-color: #eff2f2;
    color: #2a3032;
}
#hero-img {
    width: 100%;
}
#hero-message {
    text-align: center;
}
.home-title {
    font-family: "Permanent Marker", "Dejavu Sans", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
 h1 {
    color: #eff2f2;
    text-align: center;
    margin-top: 10px;
}
h4 {
    color: #eff2f2;
    text-align: center;
}

.book, .join {
    background-color: #eff2f2;
    color: #0e2f23;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}                
.book {
    text-align: center;
    width: 70px;
    border-radius: 5px;
}
book:hover {
    background-color: #b8d4dc;
        color: #000000;
}
.icon {
    width: 80px;
    padding-top: 10px;
} 
#background {
    height: 725px;
}
.msg {
    background-color: #eff2f2;
    line-height: 1.5em;
    padding: 35px;
}
h2 {
    margin: 0;
}
.msg h2 {
    color: #0e2f23;
    font-family: "Permanent Marker", "Dejavu Sans", sans-serif;
}
.msg p {
    color: #0e2f23;
    font-size: .8em;
    padding-bottom: 15px
}
.join:hover {
    background-color: white;
    color: #000000;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.card-img {
    border: 10px solid #1a775f;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
footer {
    background-color: #1a775f;
    color: #eff2f2;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size:1.2em;
}
footer a {
    background-color: #b8d4dc;
    color: #2a3032;
    text-decoration: none;
}
footer .social img {
    padding-top: 15px;
}
footer a:hover {
    color: #000000;
    background-color: #eff2f2;
    text-decoration: underline;
}


