@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Open+Sans:ital@1&display=swap');

body {
    background-color: #eeecf5;
    font-family: "Open Sans", Tahoma, sans-serif;
    font-size: 1.5em;
    margin: 5px;
    padding: 5px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(10, auto);
    grid-gap: 10px;
    margin: 0 auto;
    width: auto;
}
h1 {
    font-family: Gabriela, Garamond, serif;
    font-size: 1.5em;
    text-align: center;
}
header {
    display: flex;
    border: 10px solid #a2c8e8;
    grid-column: 1/9; 
    grid-row: 1/2;
    background-color: #2d4e76;
    color: #eeecf5;
}
.header-title {
    font-size: 1.5em;
    margin-left: 2%;
    margin-top: 1%;
}
.logo {
    border-right: 10px solid #a2c8e8;
}
nav {
    border: 10px solid #a2c8e8;
    grid-column: 1/2;
    grid-row: 2/10;
    color: #a2c8e8;
    background-color: #2d4e76;
    text-align: center;
}
nav a {
    display: flex;
    justify-content: center;
    color: #eeecf5;
    text-decoration: none;
    font-size: .75em;
    margin: 65% .5em;
    padding: 5px;
    line-height: 3em;
}
nav a:hover {
    border: 5px solid #a2c8e8;
    background-color: #eeecf5;
    color: #2d4e76;
}
main {
    grid-column: 2/7;
    grid-row: 2/10;
    border: 10px solid #a893c2;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
#banner-img {
    width: 100%;
    margin-top: .5em;
}
#p1 {
    margin-top: -23em;
    margin-left: 35%;
    color: #fff;
    font-weight: bolder;
    text-shadow:
    -1px -1px 0 #a2c8e8,
    1px -1px 0 #2d4e76,
    -1px 1px 0 #2d4e76,
    1px 1px 0 #2d4e76;
}
#p2, #p3 {
    color: #fff;
    font-weight: bolder;
    margin-left: 35%;
    text-shadow:
    -1px -1px 0 #a2c8e8,
    1px -1px 0 #2d4e76,
    -1px 1px 0 #2d4e76,
    1px 1px 0 #2d4e76;
}
aside {
    border: 10px solid #2d4e76;
    background-color: #a893c2;
    color:#2d4e76;
    font-size: 100%;
    font-weight: bold;
    grid-column: 7/9;
    grid-row: 2/10;
    width: 12em;
    text-align: center;
    padding-top: 10px;
}
#home-aside-img {
    width: 12em;
    margin-top: 1em;
}
footer {
    border: 10px solid #a2c8e8;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    grid-column: 1/9;
    grid-row: 10/11;
    background-color: #2d4e76;
    color: #eeecf5;
    font-size: 1.5em;
}
footer p {
    font-size:1em;
}
footer a {
    color: #eeecf5;
    padding: 10px;
    text-decoration: none;
}
footer a:hover {
    border: 5px solid #a2c8e8;
    background-color: #eeecf5;
    color: #2d4e76;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 1em;
    }
    nav {
        padding-top: 1.5em;
    }
    main {
        font-size: .75em;
    }
    #p1 {
        margin-top: 0;
        margin-left: 0;
        color:#2d4e76;
        text-shadow: none;
    }
        #p2, #p3 {
            color: #2d4e76;
            text-shadow: none;
            margin-left: 0;
    } 
}  
    

